<div class="row">
    <div class="col-xs-12">
        <h1>Driver List</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary" (click)="addDriver()">
            Add New Driver
        </button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <table class="table table-bordered table-striped table-condensed" style="margin-top:20px">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>Name</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let driver of drivers">
                    <td>
                        <a href="#" class="btn btn-primary" [routerLink]="['/driver', driver.id]">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </td>
                    <td>{{driver.name}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteDriver(driver.id)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>